body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    background: tomato;
}

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background: tomato;
}