body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    background: tomato;
}

.example-wrapper {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background: tomato;
}